@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&family=BBH+Bogle&family=Bebas+Neue&family=Lexend:wght@100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap");

* {
  padding: 0%;
  margin: 0%;
}
body {
  background-color: rgb(228, 215, 239);
  font-family: "Poppins", sans-serif;
}
.App_Container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-content {
  width: 100%;
  display: flex;
  justify-content: center;
}
.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-content h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
.search-container {
  width: 50vw;
  display: inline-block;
}
.search-container input {
  outline: none;
  width: 90%;
  padding: 5px;
  border: none;
  border-radius: 5px 0px 0px 5px;
}
.search-container input:focus {
  border: 2px solid rgb(208, 142, 153);
  border-right: none;
}
.submit-btn {
  padding: 3px 4px;
  background-color: rgb(136, 28, 132);
  color: white;
  width: 9%;
  margin-left: -4px;
  border-radius: 0 5px 5px 0;
}
#loader {
  color: rgb(207, 65, 65);
  font-size: 1.4rem;
  font-weight: 800;
  margin-top: 1rem;
}
