/* button {
  background-color: red;
  color: white;
} */
.parah {
  color: blue;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 1rem;
  text-align: justify;
  text-transform: capitalize;
}

.newparah {
  color: black;
  background-color: white;
  border: 1px solid black;
}
