@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&family=BBH+Bogle&family=Bebas+Neue&family=Lexend:wght@100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap");
* {
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.percantage-calculator {
  background-image: url("../assets/images/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
.app-container {
  width: 50vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1.6rem;
}
.box-calculation {
  width: 70%;
  height: 50%;
  background-color: rgba(0, 0, 0, 0.796);
  border: 3px solid rgb(18, 18, 121);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: white;
}

.h1-calculate {
  font-size: 2.3rem;
  display: block;
  font-weight: 500;
  text-align: center;
}
.h1-percentage {
  display: block;
  text-align: center;
  font-weight: 600;
  font-size: 3.3rem;
  margin-top: -1rem;
}
.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#calbtn {
  display: block;
  background-color: #04635a;
  color: white;
  border-radius: 4px;
  padding: 3px 14px;
  margin-top: 2.5rem;
  transition: all 1s ease-in-out;
}
#calbtn:hover {
  background-color: #1e8d81;
  transform: scale(1);
}
#calbtn:active {
  background-color: #0deed8;
}
#input-box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 2rem;
  column-gap: 2rem;
  /* flex-direction: column; */
}
#input-box-container input {
  outline: 2px solid rgb(181, 169, 169);
  border-radius: 3px;
  padding: 3px 8px;
  background-color: transparent;
  color: white;
  opacity: 0.9;
  width: 12rem;
}
#input-box-container input::placeholder {
  opacity: 1;
  color: white;
}
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#input-box-container input:focus {
  outline: 2px solid #8b8bff99;
  border-radius: 3px;
}
#result {
  text-align: center;
  font-size: 0.8rem;
  padding: 0 10px;
  margin: 0 0 1rem 0;
}
@media only screen and (max-width: 1024px) {
  .app-container {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1.6rem;
  }
}
@media only screen and (max-width: 768px) {
  #input-box-container {
    row-gap: 1rem;
    column-gap: 1rem;
  }
  #input-box-container input {
    max-width: 9rem;
  }
  .h1-calculate {
    font-size: 1.4rem;
  }
  .h1-percentage {
    font-size: 2.4rem;
  }
}
