* {
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
}
.percantage-calculator {
  background-image: url("../assets/images/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
