body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
#container {
  width: 30vw;
  height: 70vh;
  border: 1px solid #000;
  border-radius: 10px;
  background-color: pink;
}

h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2rem;
  text-align: center;
  margin: 1rem 0 1rem 0;
  color: rgb(116, 15, 15);
}
main {
  margin-top: 2rem;
}
#board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  /* border: 1px solid #000; */
  column-gap: 5px;
  row-gap: 10px;
  width: 90%;
  height: 70%;
  margin: auto;
}
.cell {
  border: 1px solid green;
  height: 100px;
  border-radius: 5px;
  background-color: rgb(153, 119, 87);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
#resetbtn {
  /* margin-top: 2rem; */
  display: block;
  padding: 0.7rem 2rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  background-color: rgb(116, 15, 15);
  color: white;
  cursor: pointer;
  margin: 4rem auto;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal_content {
  width: 30%;
  height: 40%;
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal_button {
  position: relative;
  bottom: 120px;
  left: 17rem;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}
.hidden {
  display: none;
}
