@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&family=Bebas+Neue&family=Lexend:wght@100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main_heading {
  background-color: rgb(2, 2, 64);
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_heading h1 {
  color: white;
  font-weight: 900;
  font-size: 1.8rem;
  font-family: "Poppins", sans-serif;
}
.image_container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  column-gap: 1rem;
}
.image_setting {
  padding: 10px;
  display: block;
  width: 10vw;
  height: 23vh;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.image_setting:hover {
  border: 5px solid rgb(1, 1, 100);
}
.image_setting img {
  width: 80%;
  height: 80%;
  object-fit: cover;
}
.count_container {
  display: flex;
  justify-content: center;
  color: black;
  margin-top: 5rem;
  column-gap: 4rem;
  font-weight: 600;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
}
.counter {
  text-align: center;
}
footer {
  display: flex;
  justify-content: center;
}
.result {
  padding: 1rem 7rem;
  border-radius: 10px;
  text-align: center;
  background-color: rgb(3, 36, 3);
  color: white;
  display: inline-block;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}
